Selectable datetime format

Give an option to select in what format show local and utc datetime.
- ISO 8601
- RFC 822, 1036, 1123, 2822
- RFC 2822
- RFC 3339